*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: clamp(1rem, 1.3vw, 20rem);
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 3vw;
}
.Header_Logo{
    display: flex;
    align-items: center;
    gap: 0.3vw;
}
.Header_Logo img{
    width: 3vw;
}
.Header_Logo h2,.Logo h2{
    font-family: "Mulish";
    font-size: 1.6vw;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
}
.Header_Links{
    display: flex;
    gap: 2vw;
}
.Header_Links img{
    width: 0.7vw;
    height: 0.5vw;
}
.Header_Links a{
    font-family: "Mulish";
    font-size: 1.2vw;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
    text-decoration: none;
}
.Sing_up{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.Sing_up div{
    display: flex;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    align-items: center;
    justify-content:center;
    background-color: #5956E9;
}
.Sing_up button{
    font-family: "Open Sans";
    font-size: 1.2vw;
    letter-spacing: 0em;
    text-align: center;
    color: #2F2F2F;
    cursor: pointer;
    background-color: white;
    border: 0.1vw solid #DCDCDC;
    border-radius: 2vw;
    width: 10vw;
    height: 3vw;
}
.Sing_up img{
    width: 3vw;
    user-select: none;
    cursor: pointer;
}

/* MENU */
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
    padding: 1vw 0 0 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Links{
    display: flex;
    /* position: relative;
    top: 0.5vw;
    width: 40%; */
}
ul{
    display: flex;
    width: 35vw;
    gap: 3vw;
    list-style: none;
}
li{
    cursor: pointer;
    font-size: 1.2vw;
    letter-spacing: 0em;
}
.tittle{
    display: flex;
    gap: 1vw;
}
.tittle img{
    width: 4vw;
}
.tittle h1{
    gap: 0px;
    font-size: 2vw;
}
.Btn_compra{
    display: flex;
    gap: 1vw;
    padding: 0.1vw;
    width: 15vw;
}
.Btn_compra img{
    padding: 0 0 0.1vw 0;
    cursor: pointer;
    width: 3.2vw;
}
.Btn_compra button{
    padding: 1vw 2vw 1vw 2vw;
    height: 3vw;
    border-radius: 2vw;
    border: 0.1vw solid black;
    cursor: pointer;
    font-size: 1vw;
}
.Btn_compra button:hover{
    background:rgb(109, 118, 239) ;
    font-weight: 500;
}
/* MENU */

/* BANNER */
.banner{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3vw;
}
.banners{
    width: 90vw;
    height: 35vw;
}
.banner p{
    color:#FFFFFF;
    position: relative;
    bottom: 30vw;
    font-size: 3.2vw;
    font-weight: 900;
}
.contactos{
    position: relative;
    bottom: 25vw;
    display: flex;
    /* left: 30vw; */
    gap: 5vw;
    text-align: center;
    justify-content: center;
    font-size: 1.5vw;
    color: #FFFFFF;
}
.contact_correo{
    display: flex;
    gap: 1vw;
}
.contactos img{
    width: 2.4vw;
}
.contact_numer{
    display: flex;
    gap: 1vw;
}
.banner_contact{
    background: #e9e6e6;
    width: 80vw;
    height: 40vw;
    position: relative;
    left: 9.5vw;
    bottom: 20vw;
    border-radius: 1vw;
    box-shadow: 0px 1.2vw 1vw rgba(0, 0, 0, 0.5);
}
.form{
    font-size: 1.2vw;
    padding: 1vw 2vw 1vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form span{
    padding: 1vw 1vw 1vw 1vw; 
    width: 9vw;
}
.form input{
    width: 22vw;
    height: 2.2vw;
    border: 1px solid #cccbcb;
    border-radius: 1vw;
    padding: 0vw 0px 0px 1vw;
    font-size: 1vw;
    border: none;
    outline: none;
}
.form .tarea, textarea{
    position: relative;
    bottom: 15vw;
}
textarea{
    width: 60vw;
    height: 12vw;
    border-radius: 1vw;
    font-size: 1vw;
    padding: 1vw 1vw 1vw 1vw;
    border: none;
    outline: none;
}
.left{
    margin-left: 39vw;
    position: relative;
    bottom: 15vw;
}
.banner_contact button{
    position: relative;
    bottom: 13vw;
    right: 22vw;
    width: 15vw;
    height: 3vw;
    border-radius: 2vw;
    border: none;
    background: #2F2F2F;
    color: #FFFFFF;
    font-size: 1.1vw;
    cursor: pointer;
}
.banner_contact button:hover{
    background: linear-gradient(to right, #21cbe6f4, #2e06f4);
    box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0,2)inset;
    color: #ffffff;
    font-weight: 600;
}




.global_Growing{
    width: 80vw;
    height: 50vw;
    text-align: center;
    position: relative;
    left: 9vw;
    font-size: 1.4vw;
}
.titulo_global{
    display: grid;
    gap: 1vw;
}
.tarj_global{
    padding: 2vw;
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
}
.tarj{
    background: #dedde1;
    padding: 3vw;
    width: 26vw;
    height: 20vw;
    border-radius: 2vw;
}
.tarj p{
    padding: 1vw;
}
.tarj button{
    position: absolute;
    bottom: 38vw;
    right: 70vw;
    width: 7vw;
    height: 2vw;
    border-radius: 3vw;
    border: none;
    background: #6966FF;
    color: #FFFFFF;
    font-size: 1.1vw;
    cursor: pointer;
}
.tarj button:hover{
    background:cadetblue;
    color:#FFFFFF;
}
.tarj img{
    width: 7vw;
    height: 7vw;
}




.Frequently{
    width: 50vw;
    height: 75vw;
    position: relative;
    left: 25vw;
    font-size: 1.3vw;
}
.Frequently h2{
    text-align: center;
}
.contenedor_freq{
    display: grid;
    gap: 1vw;
    padding: 0 2vw 0 2vw;
}
.conta_one{
    margin-top: 2vw;
    padding: 2vw 0 0vw 0;
    border: 1px solid #DCDCDC;
    border-radius: 2vw;
    width: 46vw;
    height: 5vw;
    display: flex;
    justify-content: space-between;
}
.conta_one span{
    padding-left: 1vw;
    font-size: 1.5vw;
    font-weight: 800;
}
.conta_one img{
    width: 2vw;
    height: 2vw;
    margin-top: -0.4vw;
    margin-right: 1vw;
}
.cont_freq{
    background: #DCDCDC;
    border-radius: 2vw;
}
.conta_two{
    margin-top: 2vw;
    padding: 2vw 0 0vw 0;
    width: 46vw;
    height: 5vw;
    display: flex;
    justify-content: space-between;
}
.conta_two span{
    padding-left: 1vw;
    font-size: 1.5vw;
    font-weight: 800;
}
.conta_two img{
    width: 2vw;
    height: 2vw;
    margin-top: -0.4vw;
    margin-right: 1vw;
}
.freq_def{
    padding-left: 1vw;
    font-size: 1.2vw;
}
.insisos{
    padding: 2vw;
    display: grid;
    gap: 2vw;
}
.insisos_freq{
    display: flex;
    gap: 1vw;
}
.insisos_freq span{
    margin-top: 0.4vw;
}
.insisos_freq img{
    width: 2vw;
}
.definicion_freq{
    display: grid;
    gap: 2vw;
}
.definicion_freq span{
    font-size: 1.5vw;
    font-weight: 800;
}
.definicion_freq p{
    font-size: 1.2vw;
}
.ultimas_triples{
    margin-top: 2vw;
    padding: 2vw 0 0vw 0;
    width: 46vw;
    height: 18vw;
    display:grid;
    gap: 1vw;
}
.conta_triple{
    display: flex;
    justify-content: space-between;
    border: 1px solid #DCDCDC;
    border-radius: 2vw;
}
.conta_triple span{
    padding-left: 1vw;
    font-size: 1.5vw;
    font-weight: 800;
    padding-top: 1.5vw;
}
.conta_triple img{
    width: 2vw;
    height: 2vw;
    margin-top: 1.3vw;
    margin-right: 1vw;
}






/* FOOTER */
footer{
    padding:4% 7% 2% 7%;
}
.Footer_Cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Footer_Encabezado{
    display: flex;
    justify-content: space-between;
    padding: 3vw 0;
    border-top: 0.1vw solid #DCDCDC;
    border-bottom: 0.1vw solid #DCDCDC;
}
.Logo{
    display: flex;
    align-items: center;
    gap: 0.3vw;
}
.Logo h2{
    font-size: 2vw;
}
.Logo img{
    width: 3vw;
    height: 2vw;
}
.Footer_Encabezado button{
    font-family: "Mulish";
    font-size: 1.1vw;
    font-weight: 600;
    text-align: center;
    border: 0.1vw solid #DCDCDC;
    background-color: white;
    padding: 1vw 1.5vw;
    border-radius: 2vw;
}
.Footer_Medio{
    grid-template-columns: 60% 37%;
    display: grid;
    padding: 4vw 0;
    gap: 2.5vw;
}
.Footer_Links{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
}
.Resources,.Utility_Pages{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.Utility_Pages{
    border-right: 0.1vw solid #DCDCDC;
}
.Resources,.Utility_Pages h3{
    font-family: "Mulish";
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}
.Links{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Links a{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 400;
    line-height: 2vw;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #808080;
}
.Careers{
    display: flex;
    padding-top: 26%;
}
.startup_25{
    display: grid;
    grid-template-columns: 50% 48%;
    background-color: #2F2F2F;
    align-items: center;
    padding: 2vw;
    gap: 2vw;
    border-radius: 2vw;
    width: 100%;
}
.startup_izquierda{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    border-right: 0.1vw solid #646464;
}
.startup_izquierda img{
    width: 6vw;
}
.startup_izquierda h4{
    font-family: "Mulish";
    font-size: 1.4vw;
    font-weight: 700;
    color: #FFFFFF;
}
.startup_izquierda span{
    font-family: "Mulish";
    font-size: 3vw;
    font-weight: 900;
    color: #FFFFFF;
}
.startup_izquierda button{
    font-family: "Mulish";
    font-size: 1.1vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    background-color: #424242;
    color: #FFFFFF;
    border: none;
    border-radius: 2vw;
    width: 9vw;
    height: 3vw;
    cursor: pointer;
}
.startup_derecha{
    display: flex;
    flex-direction: column;
}
.startup_derecha article{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.startup_derecha img{
    width: 0.5vw;
    height: 0.5vw;
}
.startup_derecha h4{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5vw;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.startup_derecha span{
    color: #38D4FF;
}
.Footer_Final{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vw;
    border-top: 0.1vw solid #DCDCDC;
}
.Footer_Final h4{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #808080;
}
.Footer_Final span{
    font-weight: 700;
    color: #2F2F2F;
}
.Redes_Footer{
    display: flex;
    gap: 1vw;
}
.Redes_Footer img{
    width: 1.3vw;
    height: 1.3vw;
}
/* FIN */