
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,500&family=Nunito+Sans:opsz,wght@6..12,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fondo:#FFF;
    --borde:#DCDCDC;
    --tipo_letra:#808080;
    --color_button:#2F2F2F;
    --button-modi:#6966FF;
    --texto-letra:#242331;
    --fondo_but:#D3D3D3;
    --color:#5956E9;
    --fondo-princing:#F6F6F6;
}

/* codigo header */

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 3vw;
}
.Header_Logo{
    display: flex;
    align-items: center;
    gap: 0.3vw;
}
.Header_Logo img{
    width: 3vw;
}
.Header_Logo h2,.Logo h2{
    font-family: "Mulish";
    font-size: 1.6vw;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
}
.Header_Links{
    display: flex;
    gap: 2vw;
}
.Header_Links img{
    width: 0.7vw;
    height: 0.5vw;
}
.Header_Links a{
    font-family: "Mulish";
    font-size: 1.4vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
    text-decoration: none;
}
.Sing_up{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.Sing_up div{
    display: flex;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    align-items: center;
    justify-content:center;
    background-color: #5956E9;
}
.Sing_up button{
    font-family: "Open Sans";
    font-size: 1.3vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: #2F2F2F;
    cursor: pointer;
    background-color: white;
    border: 0.1vw solid #DCDCDC;
    border-radius: 2vw;
    width: 10vw;
    height: 4vw;
}
.Sing_up img{
    width: 1.5vw;
}


.background{
    width: 95%;
    margin: auto;
    height: 27vw;
    border-radius: 2vw;
    background: url("../Imagenes/Pricing/fondo__header.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    
}
.background__title{
    padding-top: 6vw;
    color:var(--fondo);
    text-align: center;
    font-family: Mulish;
    font-size: 3.8vw;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 66px */
}

.background__parrafo{
    padding-top: 0.8vw;
    color:var(--fondo);
    text-align: center;
    font-family: Mulish;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3vw ; /* 29.1px */
}

/* termina el header */






.single{
    padding: 5vw 0px;
}
.single__princing{
    margin: auto;
    max-height: 34vw;
    margin-bottom: 3vw;
    width: 70%;
    display: flex;
}
.princing__chose{
    width: 28vw;
    background-color: var(--fondo-princing);
    height: 28vw;
    padding: 2.3vw 2.1vw;
    border-radius: 1.3vw;
}
.chose__title{
    color:var(--color_button);
    font-family: Mulish;
    font-size: 3vw;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 38.5px */
}
.chose__lorem{
    padding-top: 1.3vw;
    color: var(--tipo_letra);
    font-family: Mulish;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%; /* 30.1px */
}
.chose__cantidad{
    padding-top: 1.4vw;
    color: var(--color_button);
    font-family: Mulish;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 55px */
}

.chose__select{
    display: flex;
    margin-top: 1vw;
    justify-content: space-between;
    width: 19vw;
    padding: 1vw;
     border-radius: 1.5vw;
   margin: 1.5vw 2vw;
     font-size: 1vw;
    background-color:var(--fondo-princing);
    border: 0.1vw solid #D3D3D3;
}
.img{
    width: 1vw;
}
.chose__add{
    margin-top: 1.1vw;
    width: 19vw;
    padding: 1.2vw;
    margin: 0vw 2vw;
    border-radius: 1.5vw;
    border: none;
    font-size: 0.8vw;
    color: var(--fondo);
    background-color: var(--color);
}

.princing__automated{
    width: 50%;
    background-color: var(--fondo);
    padding: 2vw 2.1vw;
}
.automated__title{
    color: #2F2F2F;
    font-family: Mulish;
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 44px */
}
.automated__parrafo{
    padding-top: 1.3vw;
    color: #808080;
    font-family: Mulish;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%; /* 30.1px */
}
.listen__parrafo{
    color: #2F2F2F;
    font-family: Mulish;
    font-size:  1.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3vw; /* 31.475px */
}
.listen__imagen{
    margin-right: 1vw;
    padding-top: 0.1vw;
}

.automated__listen{
    display: flex;
    margin-top: 1.4vw ;
    height: 4%;
    margin-bottom: 1.9vw;
}

/*parte de tarjetas */

.Star{
    display: flex;
    margin: auto;
    width: 70%;
    background: url("../Imagenes/Pricing_Single/Image\ \(4\).png");
    background-repeat: no-repeat;
    box-shadow: 1vw 1vw 1vw rgb(218, 101, 165,);
    background-size: contain; 
}
.Star__imagen{
    width: 100%;
    height: 100%;
    
}
.image__rotate{
    width: 95%;
    height: 100%;
}
.Star__your{
    padding: 3.4vw;
    width: 50%;
    
}
.Star__imagen{
    margin-top: -6%;
    width: 50%;
    rotate: 3deg; 
}
.your__email{
    display: flex;
    justify-content: space-between;
    width:19vw;
    height:3vw;
    text-align: center;
    margin: 1.5vw 2vw;
    padding: 0.5vw 1.2vw;
    border-radius: 1.4vw;
    gap: 1.3vw  ;
    background-color: var(--fondo);
    margin-top: 1.3vw;

}
.your__day{
    padding-top: 1.2vw;
    color: var(--fondo);
    font-family: Mulish;
    font-size: 2.3vw;
    font-weight: 800;
    line-height: 2.3vw;
    letter-spacing: 0em;
    text-align: left;

}
.your__felix{
    padding-top: 1.1vw;
    color: var(--fondo);
    font-family: Mulish;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: center;

}
.email__parra{
    font-family: Mulish;
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 1.5vw;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 1.2vw;

}
.email__star{
    padding: 0.6vw 1.4vw 1.4vw 1.2vw  ;
    border-radius: 2.1vw;
    border: none;
    color: var(--fondo);
    background-color: var(--color_button);
    font-size: 0.8vw;
    text-align: center;
}
.your__free{
    padding-top: 1.2vw;
    width: 100%;
    display: flex;
    gap: 0.4vw ;
}
.free__parra{
    
    color: var(--fondo);
    font-family: Mulish;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 1vw;
    letter-spacing: 0em;
    text-align: left;
}
.free__img{
    width: 1.4vw;
    height: 1.4vw;
}

/*--------------------------------------------------Estilos Footer----------------------------------------------------------------*/
footer{
    padding:4% 7% 2% 7%;
}
.Footer_Cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Footer_Encabezado{
    display: flex;
    justify-content: space-between;
    padding: 3vw 0;
    border-top: 0.1vw solid #DCDCDC;
    border-bottom: 0.1vw solid #DCDCDC;
}
.Logo{
    display: flex;
    align-items: center;
    gap: 0.3vw;
}
.Logo img{
    width: 3vw;
    height: 2vw;
}
.Footer_Encabezado button{
    font-family: "Mulish";
    font-size: 1.3vw;
    font-weight: 600;
    text-align: center;
    border: 0.1vw solid #DCDCDC;
    background-color: white;
    padding: 1vw 1.5vw;
    border-radius: 2vw;
}
.Footer_Medio{
    grid-template-columns: 60% 37%;
    display: grid;
    padding: 4vw 0;
    gap: 2.5vw;
}
.Footer_Links{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
}
.Resources,.Utility_Pages{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.Utility_Pages{
    border-right: 0.1vw solid #DCDCDC;
}
.Resources,.Utility_Pages h3{
    font-family: "Mulish";
    font-size: 1.8vw;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}
.Links{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Links a{
    font-family: "Mulish";
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 2vw;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #808080;
}
.Careers{
    display: flex;
    padding-top: 26%;
}
.startup_25{
    display: grid;
    grid-template-columns: 50% 48%;
    background-color: #2F2F2F;
    align-items: center;
    padding: 2vw;
    gap: 2vw;
    border-radius: 2vw;
    width: 100%;
}
.startup_izquierda{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    border-right: 0.1vw solid #646464;
}
.startup_izquierda img{
    width: 6vw;
}
.startup_izquierda h4{
    font-family: "Mulish";
    font-size: 2.4vw;
    font-weight: 700;
    color: #FFFFFF;
}
.startup_izquierda span{
    font-family: "Mulish";
    font-size: 3vw;
    font-weight: 900;
    color: #FFFFFF;
}
.startup_izquierda button{
    font-family: "Mulish";
    font-size: 1.3vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    background-color: #424242;
    color: #FFFFFF;
    border: none;
    border-radius: 2vw;
    width: 9vw;
    height: 3vw;
    cursor: pointer;
}
.startup_derecha{
    display: flex;
    flex-direction: column;
}
.startup_derecha article{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.startup_derecha img{
    width: 0.8vw;
    height: 0.8vw;
}
.startup_derecha h4{
    font-family: "Mulish";
    font-size: 1.2vw;
    font-weight: 700;
    line-height: 1.5vw;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.startup_derecha span{
    color: #38D4FF;
}
.Footer_Final{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vw;
    border-top: 0.1vw solid #DCDCDC;
}
.Footer_Final h4{
    font-family: "Mulish";
    font-size: 1.3vw;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #808080;
}
.Footer_Final span{
    font-weight: 700;
    color: #2F2F2F;
}
.Redes_Footer{
    display: flex;
    gap: 1vw;
}
.Redes_Footer img{
    width: 1.8vw;
    height: 1.8vw;
}

